* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/*header,footer, section, footer {
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  background: yellowgreen;
  position: sticky;
  height: 10vh;
  top: 0;
}

section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  text-align: left;
  background-image:url(images/internet-hd-wallpapers.png);
    background-position: center;
  height: 90vh;
}
section:nth-child(1) p{
  justify-content:left;
  text-align: left;
}
section:nth-child(1) ul:first-child{
  list-style: none;
  padding: 0%;
  margin : 0%;
  display: flex;
  gap: 1rem;
}
section:nth-child(1) ul:first-child li{
  background-color: rgb(156, 152, 152);
  border-radius: 6px;
  padding: 10px;
}

section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: orange;
}
section:nth-child(2) li{
   display: flex;
   justify-content: space-around;
   background-color:aqua;
   border-radius: 6px;
   padding: 20px;
   margin-top: 10px;
}

section:nth-child(3) {
  justify-content: center;
  height: 40vh;
}

footer {
  display: flex;
  height: 10vh;
  background: black;
  color: white;
  font-size: 2vh;
  justify-content: right;
  align-items: flex-end;
}