* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}


header {
    color: rgb(239, 239, 13);
  background:rgb(15, 15, 15);
  position: sticky;
  height: 10vh;
  top: 0;
  font: syze 50px;
}

section:nth-child(1) {
    justify-content: center;
    align-content: center;
  height: 90vh;
  background: purple;
}

section:nth-child(2) {
  height: 100vh;
  background: orange;
}

section:nth-child(3) {
  height: 80vh;
}

footer {
  height: 10vh;
  background: black;
  color: white;
}